.mat-drawer {
  box-shadow: 1px 0 0px 1px #dedede;
}

.mat-spinner, .mat-spinner svg {
  width: 40px !important;
  height: 40px !important;
  margin: auto;
}

app-select.max-width {
  .mat-form-field {
    width: 100%;
  }
}

.mat-tab-group.full {

  .mat-tab-body-wrapper {
    min-height: calc(100% - 50px);
    background-color: white;
  }

}