.searchbox {
  margin-top: 1px;

  input {
    width: 100%;
    border: none;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
}

.user-item {
  text-align: center;
  padding: 5px 0;
}

.friends {
  padding: 10px;
}