<div class="order-card" [ngClass]="classStatus">
  <div (click)="openDetails()">
    <div class="flex">
      <div>#{{ data.id }}</div>
      <div class="flex-grow text-align"> {{ data.table ? data.table.name : '' }}</div>
      <div>{{ data.price }} <span class="currency">VND</span></div>
    </div>
    <div class="customer" *ngIf="data.customer">{{ data.customer.username }}</div>
  </div>
  <div class="flex order-card-actions">
    <button mat-button class="step-button" (click)="updateStatus(prevStatus())">
      <mat-icon matTooltip="Move Previous">skip_previous</mat-icon>
    </button>
    <div class="flex-grow"></div>
    <button mat-button class="step-button" (click)="updateStatus(nextStatus())">
      <mat-icon matTooltip="Move Next">skip_next</mat-icon>
    </button>
  </div>
</div>