.order-card {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0 0 1px 0px #56868e;
  margin: 4px;
  border-radius: 4px;
  background-color: #56868e;
  color: white;
  font-weight: bold;

  .customer {
    text-align: center;
    padding: 0 8px;
  }

  .status-picker {
    padding-top: 20px;
  }

  .order-card-actions {
    margin-top: 10px;
  }

  .flex-grow {
    button {
      width: 100%;
    }
  }
}
