@import '../../sass/variables';

#cart, .cart {
  height: 100%;
  width: 100%;
  background-color: $cart-background;
  padding: 15px;
  color: $yana-red;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 200px;
  margin-bottom: 20px;

  mat-icon {
    float: left;
  }
}

.product-name {
  color: $font-color;
}

.remove {
  background-color: transparent;
  color: $error-color;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
}

.button.remove-button {
  color: $error-color !important;
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {
  h3 {
    padding-right: 24px;
  }
}
