<div id="cart">

  <h3>
    <mat-icon>shopping_cart</mat-icon>
    {{ 'CART.TITLE' | translate }}
  </h3>

  <div *ngFor="let product of products" class="product-item flex">
    <div class="product-name">{{ product.name }}</div>
    <div class="flex-grow"></div>
    <div class="price">
      <span>{{ product.price.member }}</span>
      <i>{{ 'GLOBAL.CURRENCY.VND' | translate }}</i>
    </div>
    <button [ngClass]="{'hidden': !editable}" class="remove" (click)="removeItem(product)"><mat-icon>clear</mat-icon></button>
  </div>

  <div>
    <button class="remove-button" mat-raised-button color="red">{{ 'CART.REMOVE' | translate }}</button>
  </div>

</div>