.mat-spinner, .mat-spinner svg {
  width: 50px !important;
  height: 50px !important;
}

.mat-spinner.full {
  margin: auto;
  margin-top: 38vh;
}

.mat-tab-group.equal {

  .mat-tab-label {
    width: 50%;
  }
}