<div id="social-edit" class="full">

  <div class="module-title">
    <a routerLink="/staff/social" class="back"><mat-icon>chevron_left</mat-icon></a>
    <h1>Edit <span *ngIf="!isEvent">Article></span><span *ngIf="isEvent">Event</span></h1>
  </div>

  <form [formGroup]="form">

    <div class="flex">
      <mat-checkbox color="primary" formControlName="is_published">
        Published
      </mat-checkbox>
    </div>

    <div class="input-container">
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field appearance="outline">
        <input matInput formControlName="desc" placeholder="Introduction">
      </mat-form-field>
    </div>

    <div  class="input-container">
      <mat-form-field appearance="outline">
        <input matInput formControlName="content" placeholder="Content">
      </mat-form-field>
    </div>

    <div *ngIf="isEvent">
      <div  class="input-container">
        <mat-form-field appearance="outline">
          <input matInput formControlName="slots" placeholder="Number of seats" type="number">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="event_time" placeholder="Event date" formControlName="event_time">
        <mat-datepicker-toggle matSuffix [for]="event_time"></mat-datepicker-toggle>
        <mat-datepicker #event_time></mat-datepicker>
      </mat-form-field>
    </div>

    <button (click)="submit()" mat-raised-button color="green">Submit</button>

    <mat-card *ngIf="article.id" class="picture" [ngStyle]="{'background-image':'url('+pictureUrl+')'}" >
      <app-picture icon="camera" [id]="article.id" endpoint="article" (onupload)="uploaded($event)" ></app-picture>
    </mat-card>

  </form>

</div>