<div id="stocks" class="full">
<app-module-title title="Stocks"></app-module-title>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let stock of stocks">
      <mat-expansion-panel-header class="flex panel-header">
        <span class="format">
          [{{ stock.stock_format.name }}]
        </span>
        <span class="name">
          {{ stock.name }}
        </span>
        <span class="in-stock">
          {{ stock.balance * stock.size }} {{ stock.stock_format.stock_unit.name }} ({{ stock.balance }} x {{ stock.size }} {{ stock.stock_format.stock_unit.name }})
        </span>
      </mat-expansion-panel-header>
      <app-stock></app-stock>
    </mat-expansion-panel>
  </mat-accordion>

</div>