<div id="stocks" class="full">
  <div class="module-title">
    <h1>Stocks</h1>
    <div class="mid"></div>
    <div class="actions">
      <button mat-button><mat-icon>add</mat-icon> Import</button>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let stock of stocks">
      <mat-expansion-panel-header class="flex panel-header">
        <span class="format">
          [{{ stock.stock_format.name }}]
        </span>
        <span class="name">
          {{ stock.name }}
        </span>
        <span class="in-stock">
          {{ stock.balance * stock.size }} {{ stock.stock_format.stock_unit.name }} ({{ stock.balance }} x {{ stock.size }} {{ stock.stock_format.stock_unit.name }})
        </span>
      </mat-expansion-panel-header>
      <app-stock [stock]="stock" editable="true"></app-stock>
    </mat-expansion-panel>
  </mat-accordion>

</div>
