<mat-card id="order">
  <div class="flex">
    <div>#{{ data.id }}</div>
    <div class="flex-grow customer"> {{ data.table ? data.table.name : '' }}</div>
    <div>{{ data.price }} <span class="currency">VND</span></div>
  </div>

  <div class="actions flex">
    <button mat-button (click)="openStatusUpdate()">Update Status</button>
    <button mat-button (click)="openTableUpdate()">Update Table</button>
    <button mat-button (click)="openCustomerUpdate()">Update Customer</button>
    <button mat-button (click)="openProductUpdate()">Update Products</button>
    <button mat-button (click)="openPayment()">Payment</button>
    <div class="flex-grow"></div>
    <button mat-raised-button color="green" *ngIf="update.status" (click)="syncStatus()">Confirm Status</button>
    <button mat-raised-button color="green" *ngIf="update.table" (click)="syncTable()">Confirm Table</button>
    <button mat-raised-button color="green" *ngIf="update.customer" (click)="syncCustomer()">Confirm Customer</button>
    <button mat-raised-button color="green" *ngIf="update.products" (click)="updateProducts()">Confirm Products</button>
    <button mat-raised-button color="green" *ngIf="update.payment" (click)="confirmPayment()">Confirm Payment</button>
    <button class="cancel-update" mat-button *ngIf="update.any" (click)="resetUpdate()" matTooltip="Cancel Update"><mat-icon>close</mat-icon></button>
  </div>

  <div *ngIf="update.status">
    <app-select [options]="statusOptions" (onchange)="updateStatus($event)"></app-select>
  </div>

  <div *ngIf="update.table">
    <app-select [options]="tableOptions" (onchange)="updateTable($event)"></app-select>
  </div>

  <div *ngIf="update.customer">
    <app-select [options]="customerOptions" (onchange)="updateCustomer($event)"></app-select>
  </div>

  <div *ngIf="update.payment">
<app-select [options]="paymentMethodOptions" (onchange)="updatePaymentMethod($event)"></app-select>
  </div>

  <div class="columns flex">
    <div class="history separator right">
      <div *ngFor="let history of data.source.order_action_histories">
        [{{ displayDate(history.created_at) }}] {{ history.comment }}
      </div>
    </div>

    <div class="products">
      <div class="flex wrap">
        <app-order-product *ngFor="let product of data.products; let i = index" [product]="product" [order]="data" (onremove)="removeProduct($event, i)" [type]="orderProductType"></app-order-product>
      </div>
    </div>
  </div>

</mat-card>