@import '../../sass/variables';

.product-item {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;

  .info {
    padding: 10px;
  }

  .name {
    display: block;
    margin-bottom: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
  }

  .category {
    color: $yana-red;
  }

  .disabled {
    background-color: $cart-background;
  }

  button {
    cursor: pointer;
    outline: 0;
    color: $yana-red;
    background-color: $cart-background;
    border: 0;
  }

  .add:active {
    font-weight: bold;
    background-color: $yana-red;
    color: white;
  }

}
