<div id="orders" class="flex">
  <app-order-list *ngFor="let list of lists" [orders]="list.items" [label]="orderStatus[list.status]"></app-order-list>
</div>

<div class="legend flex">
  <button mat-raised-button color="green" (click)="new()"><mat-icon>add</mat-icon> New Order</button>
  <button mat-raised-button (click)="refresh()"><mat-icon>sync</mat-icon></button>
  <div class="flex-grow"></div>
  <div class="legend-item">
    <span class="status-ok"></span>
    OK
  </div>
  <div class="legend-item">
    <span class="status-pending"></span>
    Pending
  </div>
    <div class="legend-item">
    <span class="status-urgent"></span>
    Urgent
  </div>
</div>

<app-order *ngIf="pickedOrder" [order]="pickedOrder"></app-order>

<mat-card *ngIf="pickedOrder" class="product-list">
  <div class="flex">
    <app-order-product *ngFor="let product of products; let i = index" [product]="product" [order]="pickedOrder" (onadd)="addProduct($event)" [type]="orderProductType"></app-order-product>
  </div>
</mat-card>