<app-loader *ngIf="product === undefined"></app-loader>
<div *ngIf="product">

  <div class="module-title">
    <h1>{{product.name}}</h1>
    <div class="mid"></div>
    <div class="actions">
      <button mat-button (click)="openDeleteValidation()" ><mat-icon>delete</mat-icon></button>
    </div>
  </div>

  <mat-card>
    <h3>Information</h3>
    <div class="flex">
      <app-input class="name-input" [options]="nameOptions" (onchange)="updateName($event)"></app-input>
      <app-select class="category-input" [options]="categoryOptions" (onchange)="updateCategory($event)"></app-select>
      <app-input [options]="descOptions" (onchange)="updateDesc($event)"></app-input>
    </div>
  </mat-card>

  <div class="flex">
    <mat-card class="compo card">
      <h3>Compo</h3>
      <app-compo-edit [compo]="product.compos" (onchange)="updateCompo($event )"></app-compo-edit>
      <!-- <div class="compo-list">
        <div class="compo-item flex" *ngFor="let compo of tmpCompos">
          <div>
          {{ compo.quantity }} {{ compo.stock.stock_format.stock_unit.name }}
          {{ compo.stock.name }} - {{ compo.stock.stock_type.name }} ({{ compo.stock.stock_format.name }} {{ compo.stock.size }} {{ compo.stock.stock_format.stock_unit.name }})
          </div>
          <div class="flex-grow"></div>
          <a class="delete-compo" mat-button matTooltip="Delete compo" (click)="deleteCompo(compo)">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
      </div>
      <div class="add-compo flex">
        <app-select [options]="compoListOptions" (onchange)="updateCompoStock($event)"></app-select>
        <app-input [options]="compoQuantityOptions" (onchange)="updateCompoQuantity($event)"></app-input>
        <button mat-button class="add-compo-icon" (onchange)="addCompo()"><mat-icon>add</mat-icon></button>
      </div>

      <div class="actions">
        <button mat-raised-button color="green" (click)="updateCompo();">Set Compo</button>
        <p class="info">You still need to use `update` to save your changes</p>
      </div> -->
    </mat-card>

    <mat-card class="price card">
      <h3>Price</h3>
      <app-price-edit [price]="product.price" (onchange)="updatePrice($event)"></app-price-edit>
    </mat-card>
  </div>

  <div class="actions update-action">
    <div class="flex-grow"></div>
    <div class="flex">
      <p class="info">Your changes won't be saved unless you use this action =></p><button mat-raised-button color="green" (click)="update();">Update</button>
    </div>
  </div>

</div>