.order-list {
  background-color: white;
  box-shadow: 0 0 2px 0px #d0cece;
  height: 100%;
  margin: 0 2px;

  h4 {
    text-align: center;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px #ccc;
  }

}