<div id="admin-stock">

  <div class="flex">
    <h4 class="flex-grow">Type</h4>
    <div>
      <mat-slide-toggle [checked]="isEditable" (change)="switchEdit($event.checked)"></mat-slide-toggle> Edit Mode
    </div>
  </div>

  <div class="types">
    <mat-chip-list *ngIf="!isEditable">
      <mat-chip color="yana" *ngFor="let type of types">
        {{ type.type.name }}
      </mat-chip>
    </mat-chip-list>

    <div *ngIf="isEditable">
      <div *ngFor="let type of types" class="inline-edit">
        <button mat-button color="red" matTooltip="Remove" (click)="openTypeDeleteValidation(type)"><mat-icon>delete</mat-icon></button>
        <app-input class="name-input" [options]="type.options" (onchange)="updateTypeName(type, $event)"></app-input>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Confirm Update" (click)="updateType(type)"><mat-icon>check</mat-icon></button>
      </div>

      <div class="inline-edit">
        <app-input class="name-input" [options]="newType.options" (onchange)="updateTypeName(newType, $event)"></app-input>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Create" (click)="createType(newType)"><mat-icon>add</mat-icon></button>
      </div>
    </div>

  </div>

  <h4>Format</h4>

  <div class="formats">
    <mat-chip-list *ngIf="!isEditable">
      <mat-chip color="yana" *ngFor="let format of formats">
        {{ format.format.name }} ({{ format.format.stock_unit.name }})
      </mat-chip>
    </mat-chip-list>

    <div *ngIf="isEditable">
      <div *ngFor="let format of formats" class="inline-edit">
        <button mat-button color="red" matTooltip="Remove" (click)="openFormatDeleteValidation(format)"><mat-icon>delete</mat-icon></button>
        <app-input class="name-input" [options]="format.options" (onchange)="updateFormatName(format, $event)"></app-input>
        <app-select class="name-input" [options]="format.unitOptions" (onchange)="updateFormatUnit(format, $event)"></app-select>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Confirm Update" (click)="updateFormat(format)"><mat-icon>check</mat-icon></button>
      </div>

      <div class="inline-edit">
        <app-input class="name-input" [options]="newFormat.options" (onchange)="updateFormatName(newFormat, $event)"></app-input>
        <app-select class="name-input" [options]="newFormat.unitOptions" (onchange)="updateFormatUnit(newFormat, $event)"></app-select>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Create" (click)="createFormat(newFormat)"><mat-icon>add</mat-icon></button>
      </div>

    </div>

  </div>

  <h4>Format Units</h4>

  <div class="units">
    <mat-chip-list *ngIf="!isEditable">
      <mat-chip color="yana" *ngFor="let unit of units">
        {{ unit.unit.name }}
      </mat-chip>
    </mat-chip-list>

    <div *ngIf="isEditable">
      <div *ngFor="let unit of units" class="inline-edit">
        <button mat-button color="red" matTooltip="Remove" (click)="openUnitDeleteValidation(unit)"><mat-icon>delete</mat-icon></button>
        <app-input class="name-input" [options]="unit.options" (onchange)="updateUnitName(unit, $event)"></app-input>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Confirm Update" (click)="updateUnit(unit)"><mat-icon>check</mat-icon></button>
      </div>

      <div class="inline-edit">
        <app-input class="name-input" [options]="newUnit.options" (onchange)="updateUnitName(newUnit, $event)"></app-input>
        <div class="link"></div>
        <button mat-button color="green" matTooltip="Create" (click)="createUnit(newUnit)"><mat-icon>add</mat-icon></button>
      </div>

    </div>

  </div>


</div>