<div class="product" [ngStyle]="{'background-image':'url('+data.pictureUrl+')'}">
  <div class="details">
    <h5>{{ data.name }}</h5>
    <p class="flex-grow">
      {{ data.desc }}
    </p>
    <div class="price">
      <span matTooltip="Price" *ngIf="data.standardPrice">VND {{ data.standardPrice.price }}</span>
      <span matTooltip="Member Price" *ngIf="data.memberPrice"> - VND {{ data.memberPrice.price }}</span>
    </div>
    <div class="compo" *ngIf="canSeeCompo" (click)="showCompo()">
      Show Compo
    </div>
    <div class="edit" *ngIf="canEdit" (click)="openDetails()">
      Èdit
    </div>
  </div>

</div>
